* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

.App {
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial',
        sans-serif;
    overflow-x: hidden;
}

.Main {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main > section {
    width: 100%;
}

.Supercharged-Animation-Section {
    height: 100vh;
    background-color: black;
    /* border: 1px solid red; */
}

.FiveG-Animation-Section {
    height: 400vh;
    background-color: black;
}

.test {
    /* border: 1px solid red; */
    height: 100vh;
}
